@charset "utf-8";
body { font:13px/1.85 "微软雅黑"; color:#302f2f;}
/*头部*/
#wheader { background-color:rgba(102,102,102,0.3); position:absolute; top:0; left:0; z-index:1111; width:100%;}
#wheader .ding { width:1200px; margin:0 auto; }
.logo img{width:100%;}
.ding dt{ float:left;}
.ding dd{ float:right; line-height:27px;}
#nav{ width:1200px; margin:0 auto 20px;}
#nav_w{ background:#ad0b06; clear:both;}
#nav li { width:109px; text-align:center; float:left; font-size:15px; }
#nav li.bg { background:#e2edb9; }
#nav li.bg a { color:#000; }
#nav li.bg a:hover { background:none; }
#nav li a { display: block; color:#FFF; padding:15px 0; }
#nav li a:hover { background:#e2edb9; color:#000; }
.wp_nav .sub-nav .nav-item a{color:#000 !important;}
.banner { position: relative; float: left; width: 100%;}
.slide { position: relative; overflow: hidden; width: 100%; }
.slide li { position: absolute; width: 100%; left: 0; top: 0; }
.slide img { display: block; position: relative; z-index: 1; height: auto; width: 100%; }
.slide_nav { position: absolute; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); top: 52%; left: 0; opacity: 0.7; z-index: 3; text-indent: -9999px; overflow: hidden; height: 61px; width: 38px; background:url(../images/themes.gif) no-repeat left top; margin-top: -45px; }
.slide_nav:active { opacity: 1.0; }
.slide_nav.next { left: auto; background-position: right top; right: 0; }
#logow{position: relative;width:1200px;margin:0 auto;}
.logo{ position:absolute; top:50px; left:0; z-index:1111;}
/*中间*/
#wmain { clear:both; margin-bottom:30px; }
.main { width:1200px; margin:0 auto; }
#conts { float:right; width:860px; background:#fff; padding:15px;}
#wmain .main .current2 { margin-bottom:15px; padding-bottom:5px; border-bottom:2px solid #ccc;  font-size:15px; font-weight:bold; color:#ad0c04; }
.possplit{height:12px;line-height:4px;}
#sidebar { float:left; width:278px; background:#fff; }
#sidebar .c_bti { background:#ad0c04; font-size:18px; padding:14px 0 14px 30px; font-weight:bold; color:#fff; margin-bottom:15px; }
#sidebar ul { padding:0 30px;width:218px;}
#sidebar ul li:first-child a{  background:#dc453d;}
#sidebar ul li { margin-bottom:10px; text-align:center;}
#sidebar ul li a{ display:block;color:#FFF;background:#ccc;font-size:16px;padding:12px 0;  }
#sidebar ul li a:hover {transition: all 0.6s; background:#e97670;}
.wp_listcolumn{border:none;}
/*底部*/
#wfooterss { clear:both; background:#ad0c04; padding-bottom:10px; }
#wfooterss .footers { width:1200px; margin:0 auto; font-size:15px;}
#wfooterss .footers li{ float:left; padding:0 25px;  font-weight:bold; padding-top:22px;}
#wfooterss .footers li.da{ font-size:30px; color:#000; padding-top:5px;}
#wfootersx { clear:both;color:#ffeeed; background:#770401; padding: 10px 0; text-align:center;}
#wfootersx .footerx { width:1200px; margin:0 auto; }
/*首页*/
.bti{ background:url(../images/dd.jpg) no-repeat 10px center; border-bottom:2px solid #411313; padding:5px 0 5px 35px; margin-bottom:20px;}
.bti dt{ float:right; padding-top:5px;}
.bti dd{  font-size:17px;}
.tu{width:380px;float:left; margin-right:30px;}
.zhong{width:410px;float:left;position:relative;}
.zhong .more,.youu .more,#wp_news_w4 .more{position:absolute;top:10px;right:0;}
.dao{ background:url(../images/dd.jpg) no-repeat 10px center; border-bottom:2px solid #411313; padding:5px 0 5px 35px; margin-bottom:20px;}
.dao li{float:left;font-size:17px; padding-right:10px;}
.sd01,.sd03{ font-weight:bold;}
.sd02,.sd02 a,.sd04,.sd04 a{ color:#737373;}
#c01,#c02,#c03,#c04{clear:both; padding:0 10px;}
#c02,#c04{ display:none;}
.youu{width:350px;float:right;position:relative;}
#wp_news_w2 .wp_article_list,#wp_news_w3 .wp_article_list{width:390px !important;}
#wp_news_w4 .wp_article_list,#wp_news_w5 .wp_article_list{width:330px !important;}
#wp_news_w2 li,#wp_news_w3 li,#.wp_news_w4 li,#wp_news_w5 li{corder:none;background:none;}
#c01 li,#c02 li{background:url(../images/li2.jpg) no-repeat left center; padding:5px 15px;}
#c03 li,#c04 li{ background:url(../images/li.jpg) no-repeat left center; padding:5px 15px;}
/*新闻栏目页*/
.wp_article_list { margin-bottom:15px; width:830px;}
.wp_article_list li { border-bottom:1px dashed #ccc; padding:10px 0 10px 15px; background:url(../images/nli.png) no-repeat left center; }
.wp_article_list .list_item{border:none;}
.wp_article_list .list_item .Article_Index{display:none;}
/*新闻内容页*/
h1 { clear:both; text-align:center; margin-bottom:10px; font-size:18px; border-bottom:1px dashed #ccc; }
.author { text-align:center; margin-bottom:10px; }
.content, .photo { clear:both; margin-bottom:10px; }
.next_last { margin-bottom:10px; }
.releated_links { clear:both; margin-bottom:10px; }
.content img, .photo img {
width:expression(this.width>820?820:true); max-width:820px; }
.dtjt9_div_text,.dtjt9_div_img .number{z-index:1;}
