@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
	word-wrap:break-word;
}
html, body, h1, h2, h3, h4, ul, li, dl, input {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
a img {
	border:none;
}
div, ul, li, p, form {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
em {
	font-style: normal;
	font-weight: normal;
}
table {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
dt, dl, dd {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
form {
	margin:0px;
	padding:0px;
}
tr {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
h3, h4 {
	padding:0px;
	font-size:16px;
	font-weight:bold;
}
a:link {
	color:#000;
	text-decoration: none;
}
a:visited {
	color:#000;
	text-decoration: none;
}
a:hover {
	color:#000;
	text-decoration:none;
}
a:active {
	color:#000;
	text-decoration:none;
}
html {
}
body {
	min-width:1200px;
}
/* clearfix */
 * html .clearFix {
	display: inline-block;
}
*+html .clearFix {
	display: inline-block;
}
.clearFix:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
.floatL {
	float:left;
}
.floatR {
	float:right !important;
}
.mb0 {
	margin-right:0 !important;
}
